
#msg{
    
    border:rgb(131, 128, 128);
    border-style: solid;
    border-spacing: 10px;
    border-top-left-radius:10%;
    padding: 1rem;
}
#tpo{
    height: 100px;
    width: 100px;
}
#info{
    color:black;
    
}
h1{
    text-align: center;
}
img{
    height: 80px;
    width: 80px;
    border: 1.5px black solid}
.top-heading{
    font-size: 2rem;
    text-align: center;
}
section{
    margin: 1rem;
}
.recruitment p{
    font-size: 2rem;

}
.comp-img{
    margin-left: 2rem;
}